:host {

  margin-top: 21px;
  display: flex;
  flex-direction: column;

  .note {
    width: 90%;
    height: 12%;
    border-radius: 5px;
    margin: 35px auto 0;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    color: gray;
    font-size: 24px;
    margin: auto;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
