:host {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;

  .appname-header {
    font-size: 64px;
    font-weight: normal;
    color: white;
    text-align: center;
    margin: 69px auto;
    line-height: 76px;
  }

  .background {
    position: relative;
    background: #377BFF;
    height: 60%;
  }

  .form-area {
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    overflow-y: auto;
    height: 100%;
  }
}
